body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    background-color: #FFDAB9;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
}

form {
    background-color: #FFF3E0;
    padding: 30px;
    border-radius: 20px;
    width: 50%;
    text-align: center;
}

input[type="text"], select, form:input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
}

input[type="submit"], form:button {
    background-color: #FFDAB9;
    color: #333333;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover, form:button:hover {
    background-color: #FFC0A9;
}

a {
    text-decoration: none;
    color: #595959;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #FFDAB9;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #FFC0A9;
}
.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Styl dla napisu (etykiety) */
.input-container label {
    flex: 1; /* Daje etykiecie możliwość rozciągnięcia */
    margin-right: 10px;
}

/* Styl dla pola input */
.input-container input {
    flex: 2; /* Daje inputowi możliwość rozciągnięcia (więcej miejsca niż dla etykiety) */
}