
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: #333333;
}

h1 {
    color: #FFDAB9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #FFF3E0;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #FFDAB9;
    font-weight: bold;
}

td {
    background-color: #FAF3E7;
}

tr:hover {
    background-color: #FFE4C4;
}


a {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: #333333;
    background-color: #FFDAB9;
    border: 1px solid #FFC0A9;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #FFC0A9;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-radius: 10px;
    background-color: #FFF3E0;
    margin-bottom: 5px;
    padding: 2px 5px;
}
